.form {
    padding-top: 25%;
}
.tbinfo th{
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}

.tbinfo td{
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}
